// TYPOGRAPHY styles

@font-face
  font-family: 'Circe-Bold'
  src: url('../fonts/Circe-Bold.eot')
  src: url('../fonts/Circe-Bold.woff2') format("woff2"), url('../fonts/Circe-Bold.woff') format("woff"), url('../fonts/Circe-Bold.ttf') format("truetype"), url('../fonts/Circe-Bold.svg#Circe-Bold') format("svg"), url('../fonts/Circe-Bold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Circe-Regular'
  src: url('../fonts/Circe-Regular.eot')
  src: url('../fonts/Circe-Regular.woff2') format("woff2"), url('../fonts/Circe-Regular.woff') format("woff"), url('../fonts/Circe-Regular.ttf') format("truetype"), url('../fonts/Circe-Regular.svg#Circe-Regular') format("svg"), url('../fonts/Circe-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Circe-ExtraBold'
  src: url('../fonts/Circe-ExtraBold.eot')
  src: url('../fonts/Circe-ExtraBold.woff2') format("woff2"), url('../fonts/Circe-ExtraBold.woff') format("woff"), url('../fonts/Circe-ExtraBold.ttf') format("truetype"), url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format("svg"), url('../fonts/Circe-ExtraBold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gilroy-Bold'
  src: url('../fonts/Gilroy-Bold.eot')
  src: url('../fonts/Gilroy-Bold.woff2') format("woff2"), url('../fonts/Gilroy-Bold.woff') format("woff"), url('../fonts/Gilroy-Bold.ttf') format("truetype"), url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format("svg"), url('../fonts/Gilroy-Bold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'ProximaNova-Regular'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: url('../fonts/ProximaNova-Regular.woff2') format("woff2"), url('../fonts/ProximaNova-Regular.woff') format("woff"), url('../fonts/ProximaNova-Regular.ttf') format("truetype"), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format("svg"), url('../fonts/ProximaNova-Regular.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal




// END: TYPOGRAPHY styles
